.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__header_switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: red;
    cursor: pointer;
}
.auth-form__form{
margin-top: 16px;
}
.auth-form__input{
    width: 50%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--boder-color);
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.auth-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;
}